<script src="register.component.ts"></script>
<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
                ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Register"></Label>
</ActionBar>
<GridLayout>
    <ScrollView>
        <GridLayout rows="*,*,*,auto">

            <StackLayout row="0" class="">
                <Label [text]='instructions' textWrap="true"></Label>
                <FloatLabel (valueTransfer)="onValueTransfer($event)" placeholder="Username"
                            value={{username}}></FloatLabel>
                <FloatLabel (valueTransfer)="onValueTransfer($event)" placeholder="Email" value={{email}}></FloatLabel>
                <FloatLabel (valueTransfer)="onValueTransfer($event)" placeholder="Password" secure="true"
                            value={{password}}></FloatLabel>
                <FloatLabel (valueTransfer)="onValueTransfer($event)" placeholder="Confirm Password" secure="true"
                            value={{confirmpassword}}></FloatLabel>
                <FloatLabel (valueTransfer)="onValueTransfer($event)" placeholder="Phone Number"
                            value={{phonenumber}}></FloatLabel>
                <FloatLabel (valueTransfer)="onValueTransfer($event)" placeholder="Dealer Account Number"
                            value={{dealeraccountnumber}}></FloatLabel>
                <!--<BarcodeScanner-->
                <!--class="scanner-round"-->
                <!--formats="QR_CODE, EAN_13"-->
                <!--beepOnScan="true"-->
                <!--reportDuplicates="true"-->
                <!--preferFrontCamera="false"-->
                <!--(scanResult)="onScanResult($event)">-->
                <!--</BarcodeScanner>-->

            </StackLayout>
            <GridLayout row="1" rows="*,*" columns="*,*">
                <FloatLabel row="0" col="0" (valueTransfer)="onValueTransfer($event)" placeholder="Tank Monitor Serial"
                            [value]=tankmonitorserial></FloatLabel>
                <Label row="0" col="1" class="fa larger-icon" text="&#xf030;" (tap)="scanTapped()"
                       horizontalAlignment="center"></Label>
                <Label row="1" col="0" class="h3 m-15" textWrap="true" (tap)="launchWebSite()">
                    <FormattedString>
                        <Span text="I agree to the "></Span>
                        <Span text="Terms and Conditions" color="blue" fontAttributes="Bold"></Span>
                        <Span text=" set forth."></Span>
                    </FormattedString>
                </Label>
                <Switch row="1" col="1" class="m-15" checked="false" (checkedChange)="onCheckTerms($event)" row="1"
                        col="1" horizontalAlignment="center"></Switch>
            </GridLayout>
            <Label row="2" *ngIf="error" class="error-msg" [text]="error" textWrap="true"></Label>
            <Button row="3" text="Register" [isEnabled]="!processing" (tap)="usernameAvaliableCheck()"
                    class="btn btn-primary m-t-20"></Button>
        </GridLayout>
    </ScrollView>
</GridLayout>