<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Log In"></Label>
</ActionBar>
<FlexboxLayout row="1" class="page">
    <StackLayout class="form">
        <!--<Image class="logo" src="~/images/logo.png"></Image>-->
        <Label class="header" text="Gremlin"></Label>
        <Label class="error-msg" *ngIf="errorMsg" text="{{errorMsg}}"></Label>

        <GridLayout rows="auto, auto, auto">
            <StackLayout row="0" class="input-field">
                <TextField class="input" hint="Username" [isEnabled]="!processing" keyboardType="email" autocorrect="false" autocapitalizationType="none" [(ngModel)]="user.username" returnKeyType="next" (textChange)="onUsernameChange($event)"></TextField>
                <StackLayout class="hr-light"></StackLayout>
            </StackLayout>

            <StackLayout row="1" class="input-field">
                <TextField #password class="input" [isEnabled]="!processing" hint="Password" secure="true" [(ngModel)]="user.password"  autocapitalizationType="none" (textChange)="onPasswordChange($event)"></TextField>
                <StackLayout class="hr-light"></StackLayout>
            </StackLayout>

            <ActivityIndicator rowSpan="6" [busy]="processing"></ActivityIndicator>
        </GridLayout>
        <StackLayout orientation="horizontal"  horizontalAlignment="center" verticalAlignment="center" [isEnabled]="!processing" >
        <Switch  class="m-15" [checked]="rememberMe" (checkedChange)="onRemember($event)"
                 horizontalAlignment="center" verticalAlignment="center" [isEnabled]="!processing"></Switch>
            <Label text="Remember me"  horizontalAlignment="center" verticalAlignment="center"></Label>
        </StackLayout>
        <Button text="Log In" [isEnabled]="!processing" (tap)="submit()" class="btn btn-primary m-t-20"></Button>
        <Button text="Register" [isEnabled]="!processing"  (tap)="register()" class="btn" ></Button>
        <Label text="Forgot your password?" class="login-label" [isEnabled]="!processing"  (tap)="forgotPassword()"></Label>
    </StackLayout>
</FlexboxLayout>

