<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
                ios.position="left">
    </ActionItem>
    <ActionItem text="Item" ios.position="right" android.position="popup">
        <Label [isEnabled]="!processing" class="fa" text="&#xf007;" (tap)="goToProfile()"></Label>
    </ActionItem>

    <Label [text]="tankName"></Label>
</ActionBar>
<GridLayout rows="auto,auto,auto" (swipe)="onSwipe($event)">
    <!-- >> gauges-animations-angular-html -->
    <GridLayout rows="*,auto" class="tank-background"  backgroundImage="{{logoUrl}}" orientation="vertical">
        <RadRadialGauge row="0" class="{{loading}}" id="gaugeView" title="" marginBottom="0">
            <TitleStyle tkRadialGaugeTitleStyle textColor="black" ios:verticalOffset="20" android:verticalOffset="50"></TitleStyle>

            <RadialScale tkRadialGaugeScales startAngle="180" sweepAngle="180" minimum="0" maximum="100" radius="0.6">
                <ScaleStyle tkRadialScaleStyle lineThickness="0" labelsCount="0" majorTicksCount="0" minorTicksCount="0" ticksOffset="0.1"
                            majorTicksStrokeWidth="2" majorTicksStrokeColor="rgb(132, 132, 132)"></ScaleStyle>
                <RadialBarIndicator tkRadialScaleIndicators minimum="0" maximum="10">
                    <BarIndicatorStyle tkRadialBarIndicatorStyle fillColor="#c20000" barWidth="0.25"></BarIndicatorStyle>
                </RadialBarIndicator>

                <RadialBarIndicator tkRadialScaleIndicators minimum="10" maximum="21">
                    <BarIndicatorStyle tkRadialBarIndicatorStyle fillColor="#FFED0C" barWidth="0.25"></BarIndicatorStyle>
                </RadialBarIndicator>

                <RadialBarIndicator tkRadialScaleIndicators minimum="21" maximum="100">
                    <BarIndicatorStyle tkRadialBarIndicatorStyle fillColor="#39C242" barWidth="0.25"></BarIndicatorStyle>
                </RadialBarIndicator>

                <RadialNeedle #needle tkRadialScaleIndicators isAnimated="true" animationDuration="500">
                    <NeedleStyle tkRadialNeedleStyle length="0.8" android:topWidth="5" android:bottomWidth="20" ios:topWidth="5" ios:bottomWidth="20"  fillColor="black" circleFillColor="black"></NeedleStyle>
                </RadialNeedle>
            </RadialScale>
        </RadRadialGauge>
        <StackLayout row="1" class="delivery-date"  orientation="vertical">
            <Label [text]="lastDeliveryDate" horizontalAlignment="center" verticalAlignment="top"></Label>
            <Label [text]="nextDeliveryDate" horizontalAlignment="center" verticalAlignment="top"></Label>
        </StackLayout>
    </GridLayout>
    <ActivityIndicator rowSpan="1" [busy]="processing"></ActivityIndicator>
    <!-- << gauges-animations-angular-html -->
        <FlexboxLayout row="2"  flexWrap="wrap" justifyContent="space-around" class="" >
            <StackLayout orientation="vertical">
                <Label [isEnabled]="!processing" class="fa larger-icon" text="&#xf0e0;" (tap)="sendEmail()"></Label>
                <Label text="E-mail"></Label>
            </StackLayout>
            <StackLayout orientation="vertical">
                <Label [isEnabled]="!processing" class="fa larger-icon" text="&#xf095;" (tap)="callDealer()"></Label>
                <Label text="Phone"></Label>
            </StackLayout>
            <StackLayout orientation="vertical">
                <Label [isEnabled]="!processing" class="fa larger-icon" text="&#xf2d0;" (tap)="launchWebSite()"></Label>
                <Label text="Website"></Label>
            </StackLayout>
        </FlexboxLayout>
</GridLayout>
