<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Daily Levels"></Label>
</ActionBar>

<StackLayout>
    <StackLayout orientation="horizontal" class="tableHeader">
        <Label text="Date" class="medium-spacing"></Label>
        <Label text="Gallons" class="medium-spacing"></Label>
    </StackLayout>
    <GridLayout>
        <ListView [items]="tankReadings" class="small-spacing">
            <ng-template let-tankReading="item">
                <StackLayout orientation="horizontal">
                    <Label [text]="tankReading.readingDate" class="medium-spacing"></Label>
                    <Label [text]="tankReading.volume | number : '3.0-0'" class="medium-spacing"></Label>
                </StackLayout>
            </ng-template>
        </ListView>
    </GridLayout>
</StackLayout>