<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Select Hotspot"></Label>
    <ActionItem text="Item" ios.position="right" android.position="popup">
        <Label  class="fa" text="&#xf04a;" (tap)="goBack()"></Label>
    </ActionItem>
</ActionBar>

<StackLayout  orientation="vertical" class="page page-content">
    <Label class="action-bar-title" [text]="instructions" textWrap="true"></Label>
    <ListPicker [items]="ssids" selectedIndex="0" (selectedIndexChange)="selectedIndexChanged($event)" class=""></ListPicker>

    <TextField class="" [(ngModel)]="networkPassword"></TextField>
    <Button text="Register" (tap)="sendCredentials()" class="btn"></Button>
</StackLayout>