<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
http://docs.telerik.com/devtools/nativescript-ui/Controls/NativeScript/SideDrawer/getting-started
-->
<RadSideDrawer [drawerTransition]="sideDrawerTransition">
    <GridLayout tkDrawerContent rows="auto, *" class="sidedrawer sidedrawer-left">
        <StackLayout row="0" class="sidedrawer-header" *ngIf="auth" verticalAlignment="center" horizontalAlignment="center">
            <Image src={{logoUrl}} class=""></Image>
            <!--<Label class="sidedrawer-header-brand" text="User Name"></Label>-->
            <!--<Label class="footnote" text="username@mail.com"></Label>-->
        </StackLayout>

        <ScrollView row="1">
            <StackLayout class="sidedrawer-content" *ngIf="auth">
                <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/summary')" (tap)="onNavItemTap('/summary')">
                    <Label col="0" text="&#xf1fe;" class="fa"></Label>
                    <Label col="1" text="My Tanks" class="p-r-10"></Label>
                </GridLayout>
                <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/history')" (tap)="onNavItemTap('/history')">
                    <Label col="0" text="&#xf073;" class="fa"></Label>
                    <Label col="1" text="Daily Levels" class="p-r-10"></Label>
                </GridLayout>

                <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/profile')" (tap)="onNavItemTap('/profile')">
                    <Label col="0" text="&#xf007;" class="fa"></Label>
                    <Label col="1" text="My Profile" class="p-r-10"></Label>
                </GridLayout>
                <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/primeMonitor')" (tap)="onNavItemTap('/primeMonitor')">
                    <Label col="0" text="&#xf1eb;" class="fa"></Label>
                    <Label col="1" text="GREMLIN WiFi" class="p-r-10"></Label>
                </GridLayout>

                <StackLayout class="hr-light"></StackLayout>

                <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/login')" (tap)="onNavItemTap('/login')">
                    <Label col="0" text="&#xf191;" class="fa"></Label>
                    <Label col="1" text="Log Out" class="p-r-10"></Label>
                </GridLayout>
            </StackLayout>
            <StackLayout class="sidedrawer-content" *ngIf="!auth" verticalAlignment="center">
                <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/login')" (tap)="onNavItemTap('/login')">
                    <Label col="0" text="&#xf152;" class="fa"></Label>
                    <Label col="1" text="Login" class="p-r-10"></Label>
                </GridLayout>
            </StackLayout>
        </ScrollView>
    </GridLayout>

    <page-router-outlet tkMainContent class="page page-content"></page-router-outlet>
</RadSideDrawer>
