<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
                ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Profile"></Label>
    <ActionItem text="Item" ios.position="right" android.position="popup">
        <Label [isEnabled]="!processing" class="fa" text="&#xf1fe;" (tap)="goToSummary()"></Label>
    </ActionItem>
</ActionBar>

<ScrollView>
    <StackLayout orientation="vertical" verticalAlignment="center">
        <Label text="   Account Information" textWrap="true" ></Label>
        <StackLayout class="hr-dark"></StackLayout>
        <FlexboxLayout flexDirection="column">
            <Label paddingLeft="10" [text]="customerAccount" width="70" height="70"></Label>
            <Label paddingLeft="10" [text]="customerName" width="70" height="70"></Label>
            <Label  paddingLeft="10"[text]="customerAddressStreet1" width="70" height="70"></Label>
            <Label paddingLeft="10" [text]="customerAddressStreet2" width="70" height="70"></Label>
            <Label paddingLeft="10" [text]="customerPhone" width="70" height="70"></Label>
        </FlexboxLayout>
        <Label text="   Dealer Information" textWrap="true" ></Label>
        <StackLayout class="hr-dark"></StackLayout>
        <FlexboxLayout  flexWrap="wrap" justifyContent="space-around" class="">
            <StackLayout orientation="vertical">
                <Label class="fa larger-icon" text="&#xf0e0;" (tap)="sendEmail()"></Label>
                <Label text="E-mail"></Label>
            </StackLayout>
            <StackLayout orientation="vertical">
                <Label class="fa larger-icon" text="&#xf095;" (tap)="callDealer()"></Label>
                <Label text="Phone"></Label>
            </StackLayout>
            <StackLayout orientation="vertical">
                <Label class="fa larger-icon" text="&#xf2d0;" (tap)="launchWebSite()"></Label>
                <Label text="Website"></Label>
            </StackLayout>
        </FlexboxLayout>
    </StackLayout>
</ScrollView>
