<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Reset Success"></Label>
    <ActionItem text="Item" ios.position="right" android.position="popup">
        <Label  class="fa" text="&#xf04a;" (tap)="goBack()"></Label>
    </ActionItem>
</ActionBar>

<GridLayout rows= "auto, auto" class="page page-content">
    <Label row= "0"  [text]="instructions" textWrap="true"></Label>
    <Button row = "1"text="Finish" (tap)="continue()" class="btn" ></Button>
</GridLayout>