<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Reset Password"></Label>
</ActionBar>

<FlexboxLayout class="page">
    <StackLayout class="form">
        <Label class="" [text]="instructions" textWrap="true"></Label>
        <GridLayout rows="auto, auto, auto">
            <StackLayout row="0" class="input-field">
                <TextField class="input" hint="Username" keyboardType="email" autocorrect="false" autocapitalizationType="none" [(ngModel)]="username" returnKeyType="next" ></TextField>
                <StackLayout class="hr-light"></StackLayout>
            </StackLayout>
        </GridLayout>
        <Button text="Reset" (tap)="reset()" class="btn btn-primary m-t-20"></Button>
    </StackLayout>
</FlexboxLayout>