<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Prime"></Label>
</ActionBar>

<StackLayout class="form">
    <Label   textWrap="true">
        <FormattedString>
            <Span [text]='instructions'></Span>
            <Span text=" GREEN " color="green" fontAttributes="Bold"></Span>
            <Span text=" to"></Span>
            <Span text=" RED." color="red" fontAttributes="Bold"></Span>
        </FormattedString>
    </Label>
    <Image src="~/app/shared/images/prime-monitor.png" stretch="aspectFit" class="demo-image"></Image>
    <Button text="Continue" (tap)="continue()" class="btn"></Button>
</StackLayout>